*{
    margin:0;
    font-family: 'Anybody', cursive;
}

/* header and  navigation styles */
.header{
    background-color:#FFFFFF;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 165px 10px 150px;
}
nav ul{
    display: flex;
    align-items:center; 
}
nav li{
    list-style:none;
    margin-left:50px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

.text-color{
    color:#FD6E0A
}

.bnt-parmary{
    color: #FFFFFF;
    height:64px;
    padding:18px 35px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: none;
    border-radius:10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;    
}

/* hedare baner style */

.benar{
    margin: 0 20px  0 150px;
    display: flex;
    align-items: center;
}
.benar-title{
    margin-right:120px;
}
.benar-sub-title{
    color: #474747;
    height: 61px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:700;
    font-size: 40px;
}
.benar-title-mary{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:60px;
    color: #181818;
    margin-bottom: 15px;
}

.benar-title p{
    font-family: 'Open Sans';
    font-style: normal;
    height:px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
}

.benar-button{
    height:64px;
    background-color: #FD6E0A;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding:0 18px;
}

/* manik section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style  */

.about{
    margin-top:131px;
    background: #FFF8f3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;

}

.about-title{
    margin-bottom: 30px;
    font-weight:700;
    font-size: 35px;
}

.section-desection{
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Open Sans';
}

.about-info-continer{
    display: flex;
    justify-content: space-between;
}

.info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    font-family: 'Open Sans';
}
.info-desction{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    color:#757575;;
}

/* what i do section style  */
.what-i-do{
    margin-top:130px;
    
}
.h1-style{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom:30px;
}
.p-style{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    padding: 0  100px;
   
}

.skills-container{
    display: flex;
    margin-top:60px;
    margin-bottom:60px;
    gap: 24px;
}

.skill{
    /* width: 260px;
    height: 280px; */
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:40px;
}

.skill-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height:60px;
    text-align:left;
    color: #181818;
}

.skill-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}

/* Resume section style */
.resume-seation{
    margin-top:60px;
    margin-bottom:30px;
}
.section-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin: 10px;
    margin-bottom:40px;
}

/* resume-contant style */
.resume-contant{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.rusume-title{
    font-weight: 700;
    font-size: 25px;
    color:black;


}

.resume-item{
    margin-top: 20px;

}

 .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
 .sub-title{
    color: #757575;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}
 .descption{
    color: #757575;
    margin-bottom: 10px;
}

.dowbkide-button{
    text-align: center;
    
}

/* content style list  */

.content{
    display: flex;
    gap: 100px;
    background-color: #FFF8f3;
    padding: 130px 200px;
}

 .content-left{
    text-align: left;
    
}
 .content-left h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20PX;
}

.content-left P{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 10PX;
}

.content-left a{
    text-decoration: none;
}

.content-left input,textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}
.content-left input{
    height: 44px;
}
   

